# Visual Studio 2015 and 2022 / JetBrains Rider user specific files
/.vs/
/.idea/

# Scripting
/.vscode/

# Python virtual environments
/.venv/
/venv/

# Dangerous - ignoring all __pycache__ directories by default.
__pycache__/ 

# Binary files
/Binaries/

# Decompiling
ghidra/

# Compiled source files
/Intermediates/

# Long term storage
/Saved/

# CLion CMake files
/cmake-build-*/

# Vsc CMake files
/out/

# Manual build files
/build/
/build*/

# Windows
/msys64/
/msys2-installer.exe

# Osx - fuck you
.DS_Store
