# Visual Studio 2015 and 2022 / JetBrains Rider user specific files
/.vs/
/.idea/

# Scripting
/.vscode/

# Python virtual environments
/.venv/
/venv/

# Dangerous - ignoring all __pycache__ directories by default.
__pycache__/ 

# Binary files
/Binaries/

# Compiled source files
/Intermediates/

# Vslf files
/Vslf/

# Long term storage
/Saved/

# CLion CMake files
/cmake-build-*/

# Vsc CMake files
/out/

# Osx - fuck you
.DS_Store
