# Visual Studio 2015 and 2022 / JetBrains Rider user specific files
.vs/
.idea/

# Scripting
.vscode/

# Python
.venv/
venv/
__pycache__/

# Compiled source files
Intermediate/

# Binary files
Binaries/

# Vslf files
Vslf/

# Compressed files
Saved/

# Sln files
Jafg-*.sln.lnk
Jafg.sln.DotSettings.user
JAFG.sln.DotSettings.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Jafg build files
__buildSolution.lua
CMakeLists.txt
CmakePresets.json
cmake-build-*/

# Osx
.DS_Store
