*
!/.gitignore
!/*.jasset
!/Jafg.ArrowDown.png
!/Jafg.ArrowLeft.png
!/Jafg.ArrowRight.png
!/Jafg.ArrowUp.png
!/Jafg.AxisHint.png
!/Jafg.Box.png
!/Jafg.Checkmark.png
!/Jafg.Colors.png
!/Jafg.Directory.png
!/Jafg.DirectorySearch.png
!/Jafg.ExtendDown.png
!/Jafg.ExtendLeft.png
!/Jafg.ExtendRight.png
!/Jafg.ExtendUp.png
!/Jafg.File.png
!/Jafg.Filter.png
!/Jafg.Fullscreen.png
!/Jafg.Hierarchy.png
!/Jafg.Import.png
!/Jafg.Information.png
!/Jafg.Leave.png
!Jafg.Menu.png
!Jafg.Open.png
!/Jafg.Preferences.png
!/Jafg.Refresh.png
!/Jafg.Reset.png
!/Jafg.Search.png
!/Jafg.SmallX.png
!/Jafg.Sphere.png
!/Jafg.SplitX.png
!/Jafg.SplitY.png
!/Jafg.Terminal.png
!/Jafg.X.png
