*
!/.gitignore
!/*.jasset
!/Jafg.Angle.png
!/Jafg.ArrowDown.png
!/Jafg.ArrowLeft.png
!/Jafg.ArrowRight.png
!/Jafg.ArrowUp.png
!/Jafg.AxisHint.png
!/Jafg.Box.png
!/Jafg.Camera.png
!/Jafg.Checkmark.png
!/Jafg.Colors.png
!/Jafg.Cursor.png
!/Jafg.Detach.png
!/Jafg.Directory.png
!/Jafg.DirectorySearch.png
!/Jafg.ExtendDown.png
!/Jafg.ExtendLeft.png
!/Jafg.ExtendRight.png
!/Jafg.ExtendUp.png
!/Jafg.File.png
!/Jafg.Filter.png
!/Jafg.Fullscreen.png
!/Jafg.Gizmo.png
!/Jafg.Grid.png
!/Jafg.Hierarchy.png
!/Jafg.HMore.png
!/Jafg.Import.png
!/Jafg.Information.png
!/Jafg.Leave.png
!/Jafg.LocalGrid.png
!Jafg.Menu.png
!Jafg.Open.png
!Jafg.Pause.png
!/Jafg.Preferences.png
!/Jafg.Refresh.png
!/Jafg.Reset.png
!/Jafg.RotationGizmo.png
!/Jafg.ScaleGizmo.png
!/Jafg.ScaleGizmoLight.png
!/Jafg.Search.png
!/Jafg.SmallX.png
!/Jafg.Spectate.png
!/Jafg.Sphere.png
!/Jafg.SplitX.png
!/Jafg.SplitY.png
!/Jafg.Start.png
!/Jafg.StartDetached.png
!/Jafg.Step.png
!/Jafg.Stop.png
!/Jafg.Terminal.png
!/Jafg.TranslationGizmo.png
!/Jafg.VMore.png
!/Jafg.X.png
