*
!/.gitignore
!/Jafg.ArrowDown.png
!/Jafg.ArrowLeft.png
!/Jafg.ArrowRight.png
!/Jafg.ArrowUp.png
!/Jafg.Checkmark.png
!/Jafg.Colors.png
!/Jafg.File.png
!/Jafg.Leave.png
!Jafg.Menu.png
!/Jafg.Preferences.png
!/Jafg.SmallX.png
!/Jafg.Sphere.png
!/Jafg.SplitX.png
!/Jafg.SplitY.png
!/Jafg.X.png
