# Visual Studio 2015 and 2022 / JetBrains Rider user specific files
/.vs/
/.idea/

# Scripting
/.vscode/

# Python virtual environments
/.venv/
/venv/

# Dangerous - ignoring all __pycache__ directories by default.
__pycache__/ 
